{% load typogrify %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}mumblr/themes/default/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}mumblr/themes/default/css/grey-theme.css" />
        <link rel="alternate" type="application/rss+xml" title="Mumblr (RSS 2.0)" href="/feeds/rss/" />
        <link rel="alternate" type="application/atom+xml" title="Mumblr (Atom 1.0)" href="/feeds/atom/" />
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js"></script>
        <meta name="google-site-verification" content="qfZDQ4-JXWpxJH8UYl3P36Rm-uR2psBxj2pMH9WCB1Y" />
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <div class="footer">
            <div class="container">
            {% if not user.is_authenticated %}
                <div class="login">
                <p><a class="mbl-button mbl-button-primary" href="{% url log-in %}">Log in</a></p>
                </div>
            {% endif %}
            <div class="content">
                <p>Powered by <a href="http://github.com/hmarr/django-mumblr">Mumblr</a></p>
            </div>
            </div>
        </div> <!-- /footer -->

    </body>
    <script type="text/javaScript" src="{{ MEDIA_URL }}js/chili/jquery.chili-2.2.js"></script>
    <script type="text/javascript">
        ChiliBook.recipeFolder = "{{ MEDIA_URL }}js/chili/"; 
    </script> 

    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10638646-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  $(document).ready(function() {
    $('a[href^=http]:not("[href*=://' + document.domain + ']")').click(function() {
      _gaq.push(['_trackPageview', '/out/' + $(this).attr("href")]);
    });
    var time_on_page = 0;
    var tracking_interval = 15000;
    setInterval(function() {
      time_on_page += tracking_interval;
      _gaq.push(['_trackPageview', '/time_on_page/' + document.location + '/' + time_on_page])
    }, tracking_interval);
  });

</script>
</html>
